h1 {
	text-align: center;
	color: white;
}

table{
	width: 80%;
}

td{
	max-width: 40px;
}

input, table button {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	width: 90%;
	margin: auto;
}

table select {
	width: 90%;
	margin: auto;
}

select{
	font-family: 'Iceland', cursive;
	font-size: 16px;
}

table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

/*tr {
	text-align: center;
}*/

.table-headers {
	font-weight:bold;
}

